<div style="text-align: center; margin-top: 100px;">

# <b>Assignment 7.1 – Jupyter Notebook</b>

## <b>Data Preprocessing</b>

<br><br>

<b>Nikita Panchal</b><br>
<b>University of the Potomac</b><br>
<b>AIT620 – Methods of Artificial Intelligence and Machine Learning</b><br>
<b>Professor Fuat Akal</b><br>
<b>December 14, 2025</b>

<br><br><br>

</div>

---

## Data Cleaning and Preparation Process for Canada Immigration Dataset

This section describes the steps followed to clean, standardize, and prepare the Canada
immigration dataset for analysis. The objective was to retain meaningful descriptive
attributes, ensure consistency across columns, and compute a reliable total immigration
measure for each country.

---

In [69]:
import pandas as pd

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [70]:
# read the data into a pandas dataframe
df = pd.read_excel('Immigration.xlsx', skiprows=range(20), skipfooter=2)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [71]:
# dimensions of the data
df.shape

(195, 43)

### 1. Removal of Unnecessary Columns

The raw dataset contained several administrative and metadata columns that were not
required for analytical purposes. These columns did not contribute to country-level
immigration analysis and were therefore removed to simplify the dataset.

**Columns removed:**
- Type  
- Coverage  
- AREA  
- REG  
- DEV  

This step helped reduce noise and improved the readability of the dataset.

---

In [72]:
# remove the unnecessary columns
df.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)
df.head()

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

### 2. Column Renaming for Clarity

To improve interpretability, selected columns were renamed using intuitive and
self-explanatory labels. This ensured that column names clearly reflected their contents.

**Column mapping:**
- `OdName` → `Country`  
- `AreaName` → `Continent`  
- `RegName` → `Region`  
- `DevName` → `DevName` (retained as-is for development classification)

---

In [73]:
# rename the columns for simplicity
df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

### 3. Standardization of Column Labels

The year columns in the dataset were originally stored as numeric (float) values.
For consistency and to avoid issues during column selection and plotting, all column
labels were converted to string type.

This standardization ensured uniform handling of column names throughout the analysis.

---

In [74]:
df.columns = df.columns.astype(str)


### 4. Definition of Year Columns

A list of year columns ranging from **1980 to 2013** was explicitly defined.
This step ensured that only valid year-based immigration data would be included in
subsequent aggregation operations.

Explicit year selection prevents accidental inclusion of non-year or derived columns.

---

In [75]:
year_columns = [str(year) for year in range(1980, 2014)]
df.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

### 5. Computation of Total Immigration per Country

A new column named **`Total`** was added to the dataset. This column represents the
cumulative number of immigrants arriving in Canada from each country across all years
from 1980 to 2013.

Only the year columns were included in the calculation to avoid double counting or
type-related errors. This approach ensured accurate aggregation and consistency with
official reference values.

---

In [76]:
df['Total'] = df[year_columns].sum(axis=1)

In [77]:
df.shape

(195, 39)

### 6. Dataset Verification

Finally, the structure of the cleaned dataset was verified by checking its dimensions
and previewing the first few rows. This confirmed that:

- All required descriptive columns were retained
- Year columns were correctly formatted
- The `Total` column accurately reflected cumulative immigration values

The resulting dataset is clean, well-structured, and ready for analysis and visualization.

In [78]:
df

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,161,140,122,133,128,211,160,174,217,2985
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,615,454,663,611,508,494,434,437,407,8598

## Conclusion and Learning Outcomes

Through this assignment, the following outcomes were achieved:

- Successfully cleaned and simplified a real-world immigration dataset by removing irrelevant administrative columns.
- Improved data readability and usability through meaningful column renaming and standardization.
- Gained practical experience in handling mixed data types and avoiding aggregation errors in pandas.
- Accurately computed cumulative immigration totals by explicitly aggregating year-wise data.
- Developed an understanding of best practices for reproducible data preprocessing workflows.
- Prepared an analysis-ready dataset suitable for visualization and further statistical analysis.

Overall, this assignment strengthened foundational data wrangling skills and reinforced the importance of careful data preparation in data science workflows.